services:
  hl7gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hl7gateway
    ports:
      - "5000:5000"
      - "2575:2575"
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:5000
      - Hl7Gateway__Port=5000
      - Mllp__Port=2575
      - Microservices__DirectoryMS__BaseUrl=${DIRECTORYMS_URL:-http://directoryms_api:8080/api}
      - Microservices__DirectoryMS__AuthToken=${AUTH_TOKEN:-}
      - Microservices__SchedulingMS__BaseUrl=${SCHEDULINGMS_URL:-http://schedulingms_api:8080/api}
      - Microservices__SchedulingMS__AuthToken=${AUTH_TOKEN:-}
    networks:
      - cuidarmed_new_net
    restart: unless-stopped

networks:
  cuidarmed_new_net:
    external: true

