version: '3.8'

services:
  hl7gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hl7gateway
    ports:
      - "2575:2575"
    environment:
      - Mllp__Port=2575
      - Microservices__DirectoryMS__BaseUrl=${DIRECTORYMS_URL:-http://directoryms:5001}
      - Microservices__DirectoryMS__AuthToken=${AUTH_TOKEN:-}
      - Microservices__SchedulingMS__BaseUrl=${SCHEDULINGMS_URL:-http://schedulingms:5002}
      - Microservices__SchedulingMS__AuthToken=${AUTH_TOKEN:-}
    networks:
      - cuidarmed-network
    restart: unless-stopped

networks:
  cuidarmed-network:
    external: true

